<h1>Add a subject</h1>
<a href="/">Back...</a>

<form action="/" method="post" class='form'>
  <div class="form-group">
    <p>What subject would you like to add?</p>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <p>How long would this subject take? (Number of minutes please)</p>
    <input id="time" name="time" class="form-control" type="text">
  </div>
  <div class="form-group">
    <p>On a scale of 1-5, how would you rate this subject in importance (List will be ordered accordingly)</p>
    <input id="rating" name="rating" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add...</button>
  <!-- <button onclick="@list.clear()" class="btn">Clear</button> -->
</form>
