<h1>Your Subjects</h1>
<a href="/add">Add...</a>

<% @list.each do |item| %>
 <div class='list-wrap'>
    <li>
        <div>
          <p><%= item.title %> - <%= item.time %> minutes</p>
        </div>
    </li>
  </div> --> %>
<% end %>
